/* Responsive related style */
@media screen and (max-width: 576px) {
    .d{
        display: none;
    }
    header{
        margin: 0px;
    }
    .nav-links{
        display: none;

    }
    .miama-regular{
        font-size: 6.5rem;
    }
    .ham-bar{
        display: contents;
    }
    .navbar{
        
        margin-left: 10px;
        margin-right: 25px;
    }
    .hero-title{
        font-size: 2.2rem;
        width: 405px;
        height: auto;
    }
    .hero-pr{
        width: 274px;
        height: 96px;
    }
    .hero-button{
        width: 355px;
        height: auto;
        margin-top: 50px;
        /* margin-right: 15px; */
        margin-left: 0px;
    }
    .hero{
        flex-direction: column;
        margin: 8px;
    }
    .hero-img{
        width: 353px;
        height: 588px;
        margin-left: 0px;
        margin-top: 200px;
    }
    .card-1{
    width: 175px;
    margin-right: 20px;
    /* height: 54.09px; */
    margin-left: 200px;
    margin-top: -586.6px;
    }
    
    .card2{
        width: 200px;
        height: 110px;
        margin-left: 20px;
        margin-top: 140px;
    }
    .small-circle{
    
            left: calc(50% - 160px); /* Center the circle */
            top: 1150px;
            bottom: -20px;
        }
    
    .habit-image{
        grid-template-columns: repeat(1,4fr);
        margin: 45px;
        justify-content: center;
    }
    .change-habits{
        font-size: 1.8rem;
        text-align: left;
        
    }
    .habit-text p{
        text-align: center;
        font-size: 0.8rem;

    }
    .habit-text{
        margin-top: 90px;
        text-align: center;
        margin-left: 0px;
        width: 300px;
    }
    .run{
        width: 350px;
    height: 531px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 1608px;
    }
    .run-extra{
        flex-direction: column;
    }
    .run-img img{
        width: 320px;
height: 170px;
margin-right: 30px;
margin-left: px;
/* top: 326px; */
    }
    .Trainings{
        margin-left: 15px;
        width: 300px;
    }
    .excercise{
        width: 400px;
       margin-left: 25px; 
       grid-template-columns: repeat(2,1fr);
    }
    .excercise img{
        
        width: 150px;
        height: auto;
    }
    /* .img-2{
        position: absolute;
        background-color:rgba(6, 255, 210, 0.5);
    } */
    .bmi-section-title{
        margin-left: 20px;
    }
    .bmi-part{
        flex-direction: column;
        margin-left: 20px;
        margin-top: 0px;
        gap: 25px;
    }
    .calculation-BMI{
        width: 354px;
    height: 395px;
    }
    .hwA{
    
    }
    .meet-title{
        font-size: 2rem;
    }
    input{
        width: 100px;
        height: 50%;
        padding: 12px 45px 12px 20px;
    }
    .meet-img{
        margin: 0px;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-container{

        margin: 20px;
        flex-direction: column;
    }
    .foot-links,.foot-title,.footer-f-para,.footer-f-title{
        margin-left: 10px;
    }
    /* footer{
        background: rgba(255, 255, 255, 0.1);
    } */
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        width: 420px;
        gap: 0px;
        background: rgba(85, 83, 83, 0.1);
    }
}


/* Responsive Styles for Minimum Width of 576px and max-992px */
@media (min-width: 576px) and (max-width: 992px) {
    .d{
        display: none;
    }
    .navbar {
        margin: 0px 20px;
        
        align-items: flex-start;
    }

    .fitness-title {
        margin-top: 25px;
    }

    .hero {
        margin-left: 50px;
        flex-direction: column;
        
    }
    .hero-img{
        width: 344px;
    height: 582px;
    margin-left: 199px;
    margin-top: 210px;
    }

    .hero-title {
        font-size: 4rem;
        text-align: left;
    }

    .hero-para {
        font-size: 0.8rem;
        text-align: center;
    }

    .hero-button {
        margin-left: 100px ;
        gap: 10px;
    }
    .card-1{
        width: 175px;
    margin-left: 440px;
    margin-top: -560.6px;
    }
    .card2{
        width: 200px;
        margin-left: 200px;
        margin-top: 140px;
    }

    

    

    .small-circle {
        margin-left: -720px;
        margin-top: 410px;
        
    }

    .habit-section {
        margin-top: 250px;
    }

    .habit-image {
        grid-template-columns: 1fr 1fr; /* Two columns for habit images */
        gap: 20px;
        margin-left: 0;
    }
    .change-habits{
        
        font-size: 4rem;
        text-align: center;
    }
    .habit-image{
        margin-left: 90px;
        gap: 150px;
        grid-template-columns: repeat(2,1fr);
    }
    .Trainings{
        margin-left: 20px;
    }
    .run-title{
        text-align: left;
    }
    
    .run {
        margin-top: 850px;
        margin-left: 80px;
        width: 754px;
        height: auto;
    }
 .run-title{
    font-size: 2.25rem;
 }
    
    .run-container{
        margin-left: 20px;
    }
    .run-para{
        text-align: left;
    }
    .run-btn{
        margin-top: 20px;
        margin-left: 35px;
    }
    .excercise{
        margin-left: 20px;
        grid-template-columns: repeat(3,1fr);
    }
    .excercise img{
        width: 200px;
    }
    .bmi {
        
    }
.bmi-section-title{
    margin-left: 20px;
}
.bmi-para{
    text-align: left;
}
    .bmi-part {
        flex-direction: column;
        gap: 20px;
        margin-left: 50px;
    }
    .bmp{
        text-align: left;
    }

    .meet-img {
        grid-template-columns: 1fr; /* Stack team images vertically */
        margin: 0 20px;
    }

    footer {
        height: auto;
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
        margin-left: 0;
    }

    .footer-line {
        width: 100%;
        margin-left: 0;
    }

}

