
                
body{
        background-color: #121212;
        /* color: #ffffff; */
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
   
        
    }
header{
    margin: 0px  180px;
   background: linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
   
} 

.display-flex{
  display: flex;
}
.ham-bars{
   display: none;
}

.fitness-title{
    color: rgb(230, 83, 60);
    font-weight: bold;
    font-style: italic;
    font-size: 2.25rem;

}
.navbar{
    justify-content: space-between;
    padding: 0px;
    margin-top: 50px;
    align-items: center;
    gap: 465px;
}
.nav-links a{
text-decoration: none;
color: white;
font: 1.25rem;
    
}
.nav-links{
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;   
    padding: 0.5px 20px 0px 0px;
    gap: 45px;
    align-items: center;
    font-weight: 400;
    

}
/* Button Related Style */
.hero-button{
    flex-direction: row;
    gap: 20px;
    top: 20px;

}
.btn-primary{
    background-color: rgb(230,83,60);
    border-radius: 46px;
    border: none;
    height: 40px;
    width: 92px;
    color: white;
    font-weight: 600;
}
.btn-secondary{
    background-color: rgb(230,83,60);
    color: white;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.btn-tirtiary{
    background-color:#121212 ;
    border-radius: 42px;
    color: white;
    width: 224px;
    height: 54px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);

}
/* Hero*/
.hero{
    justify-content: space-between;
}
.hero img{
    width: 349px;
    height: 680px;  
}
.hero-description{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin: 52px 0px; */
    height: 450px;
    width: 520px;
}
.hero-title{
    font-size: 4.8rem;
    font-weight: 900;
    color:rgb(255, 255, 255);
    height: 350px;
}
.hero-para{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.miama-regular {
    font-family: 'Miama', sans-serif;
    font-weight: 300; 
    font-size: 9rem;                                          
}
/* Card related style */
#card-para{
    font-size: 0.8rem;

}
.card1-title{
    color: white;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    line-height: 35px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.1);
}
.card-1{
    width: 190px;
    height: 100px;
    margin-left: 1007px;
    margin-top: -550px;
    letter-spacing: 1px;
    
}
.card-2{
    width: 200px;
    height: 110px;
    margin-left: 690px;
    margin-top: 200px;
}
.card2-title{
    color: white;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 35px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.small-circle{
    background: rgb(230, 83, 60);
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 895px;
    top: 665px;
}
.ham-bars{
    
}
/* Habit Related Style */

.habit-section{
}
.habits{
   
    margin-left: 50px;
    text-align: center;
    padding-top: 40px;
    
}
.habit-text{
    
}
.change-habits{
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
}
.habit-section{
    margin-top: 150px;
    
    /* justify-content: center; */
}
.habit-image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 60px;
    position: absolute;
    gap: 90px;
    margin-left: 160px;
    
    
}
.habit-image img{
    border-radius: 50%; 
    
}
.habit-task{
    color: white;
    flex-direction: ;
}
.move{
    
    text-align: center;
}

/* Run */
.run{
    margin-top: 500px;
    margin-left: 190px;
position: static;
width: 1160px;
height: 400px;
border-radius: 18px;
background: rgb(34, 34, 34);
}
.run-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 55px;
    text-align: left;
    padding: 0px;
}
.change-habits{
    margin-bottom: 0px;
}
.run-img img{
    width: 366px;
    height: 330px;
    border-radius: 18px;
    background: url(4);
    margin: 40px 40px 10px 20px; 
}
.run-para{
    padding-bottom: 10px;
}
.run-title{
    text-align: left;
}
.run-extra{
    display: flex;
    justify-content: space-between;
}
.Trainings{
    margin-left: 200px;
    text-align: left;
}
.excercise{
   margin: 30px 20px 30px 200px;
}
.excercise img{
    width: 350px;
    height: 250px;

}







/* footer related style */
.footer-f-title{
    color: rgb(230, 83, 60);
    font-weight: bold;
    font-style: italic;
    font-size: 4.25rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.foot-links{
    flex-direction: column;
    font-weight: 400;
    list-style: none;
    text-align: left;
    font-size: 1.5rem;
}
.foot-links a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.foot-title{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 37px;
}
.get-started{
    flex-direction:column;
    align-items: flex-start;
    padding: 0px;
    
}
.footer-container{
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-left: 200px;
    gap: 150px;
}
.footer-line{
    border: 2px solid rgba(255, 255, 255, 0.1);
width: 1059.5px;
height: 0;
margin-left: 200px;
margin-top: 394px;
}
.foot-rights{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1.25rem;
}
.footer-copy{
    text-align: center;
}

/* Responsive related style */
@media screen and (max-width: 576px) {
   header{
   margin: 0px 0px;
   }
   .ham-bars{
    color: white;
   }
   .nav-links{
    display: none;
   }
}